<li class="list-group-item">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">@purchase.Payer.Name</div>
            </div>
            <div class="row">
                <div class="col">@purchase.Description</div>
            </div>
        </div>
        <div class="col">@purchase.Amount.ToString("c")</div>
    </div>
</li>

@code {
    [Parameter]
    public Purchase purchase { get; set; } = new()
    {
        Description = "Not Provided",
        Amount = 0.0,
    };
}