<li class="list-group-item">
    <div class="row">
        <div class="col">@transaction.Payer.Name</div>
        <div class="col">pays</div>
        <div class="col">@transaction.Receiver.Name</div>
        <div class="col">@transaction.Amount.ToString("c")</div>
    </div>
</li>

@code {
    [Parameter]
    public Transaction transaction { get; set; } = new();
}